*{
    margin: 0;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    background-image: url('../img/pattern.png');
    background-color: #03a9f4;
    background-size: 300px;
    margin-bottom: 24px;
}

.logo{
    width: 200px;
    margin: 24px 0;
}

.title-container{
    margin-bottom: 24px;
}

address,
.date{
    font-style: normal;
    color: grey;
}

span
{
    color: #03a9f4;
}
.date,
.picture-description{
    font-size: 12px;
}